* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all .1s ease-in;
}

html, body {
	height: 100vh;
	color: #000;
	font-size: 30px;
	font-weight: 700;
}

.title {
	text-align: center;
}

.checkerboard {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 848px;
	min-width: 448px;
	height: auto;
	background-color: #e9ceb3;
	padding: 20px;
}

.sub-checkerboard {
	position: relative;
	width: 808px;
	height: 808px;
	border: 4px solid #000;
	background-color: #fff;
}
.checkerrow {
	font-size: 0;
}

.checkercell {
	display: block;
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 100px;
	background-color: #000;
	text-align: center;
	line-height: 100px;
}

.checkercell:last-child {
	margin-right: 0;
}

.checkerrow:nth-child(even) {
	float: right;
}

.checkers {
	width: 70%;
	vertical-align: middle;
}