* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all .1s ease-in;
}

html, body {
	height: 100vh;
	color: #000;
	font-size: 30px;
	font-weight: 700;
}

.title {
	text-align: center;
}

.container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 848px;
	min-width: 448px;
	height: auto;
	background-color: #e9ceb3;
	padding: 20px;
}

.sub-container {
	width: 808px;
	height: 808px;
	border: 4px solid #000;
	background-color: #fff;

}

.container-item {
	width: 100px;
	height: 100px;
	float: left;
}

.container-item:nth-child(1),
.container-item:nth-child(3),
.container-item:nth-child(5),
.container-item:nth-child(7),
.container-item:nth-child(10),
.container-item:nth-child(12),
.container-item:nth-child(14),
.container-item:nth-child(16),
.container-item:nth-child(17),
.container-item:nth-child(19),
.container-item:nth-child(21),
.container-item:nth-child(23),
.container-item:nth-child(26),
.container-item:nth-child(28),
.container-item:nth-child(30),
.container-item:nth-child(32),
.container-item:nth-child(33),
.container-item:nth-child(35),
.container-item:nth-child(37),
.container-item:nth-child(39),
.container-item:nth-child(42),
.container-item:nth-child(44),
.container-item:nth-child(46),
.container-item:nth-child(48),
.container-item:nth-child(49),
.container-item:nth-child(51),
.container-item:nth-child(53),
.container-item:nth-child(55),
.container-item:nth-child(58),
.container-item:nth-child(60),
.container-item:nth-child(62),
.container-item:nth-child(64)  {
	background-color: #000;
}

.container-item:nth-child(1),
.container-item:nth-child(3),
.container-item:nth-child(5),
.container-item:nth-child(7),
.container-item:nth-child(10),
.container-item:nth-child(12),
.container-item:nth-child(14),
.container-item:nth-child(16),
.container-item:nth-child(17),
.container-item:nth-child(19),
.container-item:nth-child(21),
.container-item:nth-child(23) {
	background-image: url(../img/checkers_PNG17.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100px;
}

.container-item:nth-child(42),
.container-item:nth-child(44),
.container-item:nth-child(46),
.container-item:nth-child(48),
.container-item:nth-child(49),
.container-item:nth-child(51),
.container-item:nth-child(53),
.container-item:nth-child(55),
.container-item:nth-child(58),
.container-item:nth-child(60),
.container-item:nth-child(62),
.container-item:nth-child(64) {
	background-image: url(../img/checkers_black.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100px;
}